<app-blank title="Ürün Güncelleme" sectionTitle="Ürün Güncelleme">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #updateForm="ngForm" (ngSubmit)="update(updateForm)" autocomplete="off">
        <div class="form-group">
          <label for="name">Ürün Adı</label>
          <input
            type="text"
            name="name"
            id="name"
            [(ngModel)]="product.name"
            required
            #name
            minlength="3"
            class="form-control"
            [appValid]="name.validity.valid">
            <div class="invalid-feedback">
              Ürün adı en az 3 karakter olmalıdır!!
            </div>
        </div>

        <div class="form-group">
          <label for="categories">Kategoriler</label>
          <!-- multiple -> birden fazla seçenek seçilebilsin diye-->
          <select
            class="form-control"
            name="categoriesSelect"
            id="categoriesSelect"
            [(ngModel)]="product.categories"
            multiple
            #categoriesSelect>
            <option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="form-group mt-2">
          <label for="stock">Stok Adedi</label>
          <input
            type="number"
            name="stock"
            id="stock"
            [(ngModel)]="product.stock"
            required
            #stock
            min="1"
            class="form-control"
            [appValid]="stock.validity.valid">
            <div class="invalid-feedback">
              Ürün stok adedi en az 1 olmalıdır!!
            </div>
        </div>

        <div class="form-group mt-2">
          <label for="price">Ürün Fiyatı</label>
          <input
            type="number"
            name="price"
            id="price"
            [(ngModel)]="product.price"
            required
            #price
            min="1"
            class="form-control"
            [appValid]="price.validity.valid">
            <div class="invalid-feedback">
              Ürün fiyatı en az 1 olmalıdır!!
            </div>
        </div>

        <div class="form-group mt-2">
          <label for="images">Ürün Resimleri</label>
          <input
            type="file"
            name="images"
            id="images"
            ngModel
            multiple
            class="form-control"
            (change)="getImages($event)">
          <!-- change eventi ile dosya seçildiğinde getImages fonksiyonu çalışacak -->
        </div>
        <hr>
        <div class="form-group mt-2">
          <p>Mevcut Resimler</p>
          <span *ngFor="let image of product.imageUrls let i = index" class="position-relative me-3">
            <img [src]="'http://localhost:5000/' + image.path" width="100" class="mx-1">
            <span id="x" (click)="deleteImage(product._id, i)" class="position-absolute top--10 start-100 translate-middle badge rounded-pill bg-danger">X</span>
          </span>
        </div>

        <div class="mt-2 form-group">
          <button class="btn btn-warning w-100">Güncelle</button>
        </div>
      </form>
    </div>
  </div>

</app-blank>
