<app-blank title="Ana Sayfa" sectionTitle="Ürünler">
  <div class="row">
    <div class="col-md-2 p-2 ps-1">
      <ul class="list-group">
        <li
          class="list-group-item border border-2 cursor-pointer"
          [ngClass]="request.categoryName == 'Tümü' ? 'active' : ''"
          (click)="changeCategory('', 'Tümü')">Tümü
        </li>
        <li
          *ngFor="let category of categories"
          class="list-group-item border border-2"
          [ngClass]="request.categoryName == category.name ? 'active' : ''"
          (click)="changeCategory(category._id, category.name)">
          {{category.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="form-group">
        <div class="row">
          <div class="col-md-7">
            <label>Arama</label>
            <input
              (keyup)="getAll()"
              [(ngModel)]="request.search"
              type="search" class="form-control"
              placeholder="Ürün arayın...">
          </div>
          <div class="col-md-3 ms-auto">
            <label>Fiyat Sıralaması</label>
            <select
              (change)="getAll()"
              [(ngModel)]="request.priceFilter"
              class="form-control">
              <option value="0">Seçim yapınız...</option>
              <option value="1">Artan Fiyat</option>
              <option value="-1">Azalan Fiyat</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4 mb-3" *ngFor="let product of products let i = index">
          <div class="card text-center">
            <div class="card-header">
              <h4 routerLink="/products/detail/{{ product._id }}">
                {{ product.name }}
              </h4>
            </div>
            <div class="card-body">
              <img [src]="'http://localhost:5000/' + product.imageUrls[0].path" routerLink="/products/detail/{{ product._id }}" width="200" height="160">
              <p><b>Kalan Adet: {{ product.stock }}</b></p>
              <hr>
              <h5 class="alert alert-danger">Adet Fiyatı: {{ product.price | trCurrency: '₺' }}</h5>
              <button
                (click)="addBasket(product._id, product.price)"
                *ngIf="product.stock > 0 else stoktaYok"
                class="btn btn-outline-success w-100">
                <i class="fa-solid fa-cart-plus"></i> Sepete Ekle
              </button>
              <ng-template #stoktaYok>
                  <span class="btn btn-danger disabled w-100">Bu ürün tükendi !</span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-blank>
