<app-blank title="Ürün" sectionTitle="Ürün Detay Sayfası">
    <div class="row">
      <div class="col-md-5 me-2">
          <img [src]="'http://localhost:5000/' + product?.imageUrls[imageIndex]?.path" width="500" height="500">
          <hr>
          <span *ngFor="let image of product.imageUrls let i = index" (click)="imageIndex = i">
            <img [src]="'http://localhost:5000/' + image.path" width="100" height="100">
          </span>
      </div>
      <div class="col-md-6">
        <h1 class="mb-3">
          <b><u>{{ product.name }}</u></b>
        </h1>
        <h3 class="text-secondary">
          <b>{{ product.price | trCurrency: '₺' }}</b>
        </h3>
        <h4 class="mt-5 alert alert-danger w-50">
          Stok miktarı: {{ product.stock }}
        </h4>
        <h6 class="mb-5">
          Yayınlanma tarihi: {{ product.createdDate | date }}
        </h6>
        <div style="margin-top: 200px;">
          <button (click)="decrease()" class="btn btn-outline-success">
            <i class="fa fa-minus"></i>
          </button>
          <span class="mx-2">{{ quantity }} Adet</span>
          <button (click)="increase()" class="btn btn-outline-success">
            <i class="fa fa-plus"></i>
          </button>
          <button (click)="addBasket(product._id, product.price)" class="btn btn-success w-50 ms-3 py-3">
            <i class="fa-solid fa-cart-plus"></i> Sepete Ekle
          </button>
        </div>
      </div>
    </div>
</app-blank>
