<footer class="bg-light">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-6">
          <p>&copy; 2024 <i class="fa-solid fa-basket-shopping"></i> E-Commerce Company, Inc.</p>
      </div>
      <div class="col-md-6">
          <p class="float-end">
            <span class="me-3">Coded by Emre Yörük</span>
            <a href="https://www.linkedin.com/in/emreyorukk/" target="_blank" class="text-secondary">
              <i class="fa-brands fa-linkedin fa-xl"></i>
            </a>
            <a href="https://github.com/emreyoruk0" target="_blank" class="mx-3 text-secondary">
              <i class="fa-brands fa-github fa-xl"></i>
            </a>
            <a href="https://www.instagram.com/emreyoruk0/" target="_blank" class="text-secondary">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
          </p>
      </div>
    </div>
  </div>
</footer>
